public/
**/public/

dist/
**/dist/

node_modules/
**/node_modules/

.env
**/.env

migrations/
**/migrations/
migrate/
**/migrate/

*.sqlite
**/*.sqlite

!**/prisma/
!**/prisma/schema.prisma

package-lock.json
**/package-lock.json